/* Element Selectors */

html {
    /* background */
    background: url("/img/galaxy.jpg") no-repeat center fixed;
    background-size: cover;
}

body {
    margin: 0px;
    font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    color: #e22a61;
    font-size: 64px;
    font-variant: small-caps;
    text-shadow: 2px 2px 1px #c92053;
}

p,
h2 {
    color: #c92053;
}

h2 {
    font-size: 32px;
}

p {
    font-size: 24px;
}

/* Links */
a {
    color: rgb(52, 185, 172);
    text-decoration: none;
    transition: 250ms;
}

a:hover {
    cursor: pointer;
    color: rgb(42, 199, 94);
}

/* Images */
img {
    width: 85%;
    margin: 10px auto;
    box-shadow: 0px 0px 5px black;
    border-radius: 10px;
    transition: 350ms;
}

img:hover {
    width: 90%;
}

input {
    font-size: 24px;
}


/* ID Selectors */

/* Main Page Body */
#titleBody {
    /* Size */
    margin: 100px auto;
    width: 60%;

    display: flex;
    align-items: center;

    /* Text */
    text-align: center;
}


/* Class Selectors */

.noMargin {
    margin: 0px;
}

.mainBody {
    /* Background color, shape, and position */
    background: rgba(255, 255, 255, 0.850);

    margin: 100px auto;
    width: 80%;
    padding: 25px 50px;

    border-radius: 25px;

    box-shadow: 0px 0px 7px rgb(131, 131, 131);

    /* Text */
}

.topPanel {
    /* Background color shape, and position */
    background: white;

    position: fixed;
    top: 0;
    width: 100%;

    padding: 15px;

    box-shadow: 0px 0px 7px white;

    /* Text */
    text-align: center;

    /* Center Buttons */
    display: flex;
    justify-content: center;
}

.buttonContainer {

    width: fit-content;

    /* Children Grid */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.button {
    /* Background Color and Shape */
    margin: 0px 10px;
    background: rgb(153, 163, 173);
    padding: 12px 16px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(65, 65, 65);

    /* Text */
    color: white;
    text-align: center;

    /* Transition */
    opacity: 0.8;
    transition: 250ms;
}

.button:hover {
    /* Transition */
    background: white;
    color: rgb(153, 163, 173);
    opacity: 1.0;
    cursor: pointer;
}

/* Active Button */
.active {
    background: black;
}

.active:hover {
    background: black;
    opacity: 0.8;
    cursor: default;
}

/* Class for containers to center contents */
.centerContainer {
    display: flex;
    justify-content: center;
}

/* Title Text */
.titleText {
    background: rgb(170, 170, 170);
    text-align: center;
    width: 80%;
    border-radius: 25px;
    padding: 10px;
}

.white {
    color: #ECFFFB;
}

/* Small Captions */
.caption {
    font-size: 12px;
}

.correct,
.correctBox {
    color: rgb(67, 189, 30);
}

.incorrect,
.incorrectBox {
    color: red;
}

.correctBox {
    border: 2px solid yellowgreen;
}

.incorrectBox {
    border: 2px solid red;
}